{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href={% static "styles/signup/styles.css" %}>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anta&family=Comfortaa:wght@300..700&display=swap"
    rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <header>
    <div class="wrapper__header">
      <div class="container__heder">
        <div class="left__navbar">
          <div class="list__item">
            <a class="item" href="{% url 'list_blog' %}">News</a>
            <a class="item" href="{% url 'list_blog' %}">Blogs</a>
          </div>
        </div>
        <div class="right__navbar">
          <div class="list__item">
            <a class="item" href="{% url 'Sing In' %}">Sign In</a>
            <a class="item" href="{% url 'Sing Up' %}">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="wrapper">
      <div class="title__main">
        <div class="container__logo">
          <div class="name__form">
            Sign Up
          </div>
        </div>
        <form method="post" action="">
          {% csrf_token %}
          <div class="wrapper__form">
            <div class="name__input">Your nickname (Login)</div>
            <div class="inpit__form">{{form.username}}</div>
          </div>
          <div class="wrapper__form">
            <div class="name__input">Your email</div>
            <div class="inpit__form">
              {{form.email}}
            </div>
          </div>
          <div class="wrapper__form">
            <div class="name__input">Your Password</div>
              {{ form.password1 }}
          </div>

          {% for message in messages %}
          <div class='error__message'>
            {{message}}
          </div>
          {% endfor %}
          <div class="container__btns">
            <button class="btn" type="submit">
              <div class="text_btn">Create an account</div>
            </button>
          </div>
        </div>
        </form>
      </div>
    </div>
  </main>

</body>

</html>