{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'styles/style.css' %}>
    <link rel="stylesheet" href={% static 'styles/blog_page/style.css' %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>Document</title>
</head>
<body>
    {% block header %}{% endblock header %}
    {% block content %}{% endblock content %}
    {% if page.number > 0 and page.paginator.count > 0 %}
    <div class="pagination">
        {% if page.has_previous %}
            <a class="chang" href="?page={{ page.previous_page_number }}">Previous</a>
        {% endif %}
    
        {% for num in page.paginator.page_range %}
            {% if page.number == num %}
                <span  class="current-page">{{ num }}</span>
            {% else %}
                <a  class="chang" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
    
        {% if page.has_next %}
            <a class="chang" href="?page={{ page.next_page_number }}">Next</a>
        {% endif %}
    </div>
    {% endif %}
    
</body>
</html>