{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'styles/style.css' %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="wrapper__header">
            <div class="container__heder">
                <div class="left__navbar">
                    <div class="list__item">
                        <a class="item" href="./list_news.html">News</a>
                        <a class="item" href="./list_news.html">Blogs</a>
                    </div>
                </div>
                <div class="right__navbar">
                    <div class="list__item">
                        <a class="item" href="./login/login.html">Login</a>
                        <a class="item" href="./SingUP/singup.html">SingUp</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        {% for post in posts %}
        <div class="wrapper__main">
            <div class="container__main">
                <div class="content">
                    <a href="№">
                        <div class="title">
                            <h2>{{ post.title }}</h2>

                        </div>
                        <div class="container__img">
                            <img class="filter__img" src="{{post.preview.url}}" alt="Картинка">
                        </div>
                    </a>
                    <div class="body__container">
                        <div class="short__blog">{{post.blog|truncatechars:300}}</div>
                        
                        {{ post.author }} | {{ post.publish }}
                    </div>
                    {% empty %}
                    <div class="title_no_news">
                        There is no news.
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </main>
</body>
</html>