{% extends "base.html" %}
{% load static %}



{% block header %}
<body>
    <header>
        <div class="wrapper__header">
            <div class="container__heder">
                <div class="left__navbar">
                    <div class="list__item">
                        <a class="item" href="{% url 'list_blog' %}">News</a>
                        <a class="item" href="{% url 'list_blog' %}">Blogs</a>
                    </div>
                </div>
                <div class="right__navbar">
                    <div class="list__item">
                        <a class="item" href="./login/login.html">Login</a>
                        <a class="item" href="./SingUP/singup.html">SingUp</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock header %}

    {% block content %}
    <main>
        <div class="wrapper__main">
            <div class="container__main">
                <div class="content">
                        <div class="title">
                            <h2>{{ post.title }}</h2>
                        </div>
                        <div class="container__img">
                            <img class="filter__img" src="{{ post.preview.url }}" alt="">
                        </div> 
                    <div class="short__container">
                        {{ post.blog }}
                    </div>
                    {% for subsection in subsections %}
                    {% if  subsection.image %}
                    <div class="container__img">
                        <img class="filter__img" src="{{ subsection.image.url }}" alt="">
                    </div>
                    <div class="subsection">
                        <div class="title">
                            <h3>{{ subsection.title }}</h3>
                        </div>
                        <div class="short__container">
                            {{subsection.content}}
                        </div>

                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
    {% endblock content %}
    
</body>
</html>